@import 'src/styles/colors';

.app {
  color: $blue-100;
  background-color: $web-gray-3;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 100vh;
  min-width: 450px;
  transition: all 0.3s;
  width: 100vw;
}