@import "../colors";

.interests-container {
  margin-top: 4rem;

  .col-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .lg-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    i {
      color: $liberty-web-gray-2;
      border: 2px solid $liberty-dark-teal;
      border-radius: 50%;
      padding: 1rem;
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
    }
  }
}