
// yellow
$yellow-100: #ffd000;
$yellow-80: #ffdb50;
$yellow-60: #ffe280;
$yellow-40: #ffeaa9;

// teal
$teal-100: #78e1e1;
$teal-80: #99e5ea;
$teal-60: #aeeded;
$teal-40: #c9f3f4;

//dark teal
$dark-teal: #06748c;

//blue
$blue-100: #1a1446;
$blue-90: #29254f;

//grays
$dark-gray: #343741;
$web-gray-1: #404040;
$web-gray-2: #565656;
$web-gray-3: #c0bfc0;
$web-gray-4: #e6e6e6;
$web-gray-5: #f5f5f5;

//other
$white: #fff;
