@import "./colors";
@import "./imports";

body {
  background-color: $white !important;
  color: $blue-100;
  font-family: "Roboto", sans-serif;
  margin: 0;

  a {
    color: $dark-teal;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
  }

  .truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .center-align {
    text-align: center;
  }

  .secondary-text {
    color: $web-gray-2 !important;
  }

  .section-header {
    i {
      font-size: 1.75rem !important;
    }
  }

  h1, h2, h3, h4, h5, h6, .sub-text {
    margin: 0 !important;
  }

  .body-text {
    margin: 0.25rem 0;
  }

  .sub-text {
    color: $blue-100;
    font-size: 0.83rem
  } 

  .thin, .sub-text {
    font-weight: 300 !important;
  }

}
